[submodule "projects/XEN-crypto"]
	path = projects/XEN-crypto
	url = https://github.com/FairCrypto/XEN-crypto.git
[submodule "projects/XENFT"]
	path = projects/XENFT
	url = https://github.com/FairCrypto/XENFT.git
